:root {
  --color: rgb(50, 50, 50);
  --dark: rgb(50, 50, 50);
}

* {
    box-sizing: border-box;
    font-family: monospace;
    padding: 4px;
    margin: 0px;
    border: 0px;
    color: white;
    background-color: rgb(75, 75, 75);
    font-size: 16px;

}

b {
    padding: 0px;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: rgb(75, 75, 75);
    overflow: hidden;
}

#messageLog {
    width: 100%;
    position: absolute;
    overflow: auto;
    top:50px;
    bottom:50px;
}

#controls {
    width: 100%;
    position:absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    grid-gap: 8px;
    bottom: 0;
}

#channel {
    height: 100%;
    width: 100%;
    background-color: var(--color);
    text-align: center;
}

#name {
    height: 100%;
    width: 100%;
    background-color: var(--color);
    text-align: center;

}

#message {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: var(--color);
    padding-bottom: 10px;
    padding-top: 10px;

}

#send {
    height: 100%;
    width: 100%;
    background-color: var(--color);
}


#navbar {
  text-align: center;
  position: absolute;
  padding: auto;
  font-size: auto;
  overflow: hidden;
  display:flex;
}

#info {
  animation: darken 2s forwards;
  display:flex;
  margin-right: 10px;
}

#motd {
  animation: darken 2s forwards;
  display:flex;
  margin-right: 10px;
}

.msg:hover > * {
  animation: darken 0.5s forwards;
}

.msg:hover {
  animation: shadow 0.5s forwards;
}

#options:hover {
  animation: shadow 0.5s forwards;
}

#options {
  animation: darken 2s forwards;
}

@keyframes shadow {
  from {}
  to {background: var(--dark);filter: drop-shadow(0 2px 3px black);}
}

@keyframes darken {
  from {}
  to {background: var(--dark);}
}